
remote-control:
  control-enable: {{ control-enable }}
server:
  verbosity: {{ verbosity }}
  do-not-query-localhost: {{ do-not-query-localhost }}
  use-syslog: {{ use-syslog }}
  extended-statistics: {{   extended-statistics }}
  root-hints: {{ root-hints }}
  num-threads: {{ num-threads }}
  outgoing-port-permit: {{ outgoing-port-permit }}
  outgoing-port-avoid: {{ outgoing-port-avoid }}
  harden-glue: {{ harden-glue }}
  harden-dnssec-stripped: {{ harden-dnssec-stripped }}
  harden-below-nxdomain: {{ harden-below-nxdomain }}
  harden-referral-path: {{ harden-referral-path }}
  unwanted-reply-threshold: {{ unwanted-reply-threshold }}
  edns-buffer-size: {{ edns-buffer-size }}
  port: {{ port }}
  interface: {{ interface }}
  access-control: 172.17.0.0/16 allow
  access-control: 142.93.39.29/32 allow
  tcp-upstream: no
  username: "unbound"
  directory: "/etc/unbound"
  val-clean-additional: yes
  val-log-level: 1
  hide-identity: yes
  hide-version: yes
  verbosity: 1
  do-ip4: yes
  do-ip6: no
  do-udp: yes
  do-tcp: yes
  use-syslog: no
  logfile: /etc/unbound/log/unbound.log
  log-time-ascii: yes
  log-queries: yes
  hide-identity: yes
  hide-version: yes
  prefetch: yes
  prefetch-key: yes
  num-threads: 4
  msg-cache-size: 256m
  msg-cache-slabs: 8
  rrset-cache-size: 512m
  rrset-cache-slabs: 8
  infra-cache-slabs: 8
  key-cache-slabs: 8
  outgoing-range: 8192
  num-queries-per-thread: 8192
  harden-glue: yes
  harden-dnssec-stripped: yes
  use-caps-for-id: no
  so-rcvbuf: 32m
  unwanted-reply-threshold: 10000
  val-clean-additional: yes
  statistics-cumulative: yes
  infra-cache-numhosts: 100000
  outgoing-range: 32768
  so-sndbuf: 32m
  statistics-interval: 0
  cache-min-ttl: 10
forward-zone:
  name: "."
  forward-addr: 172.20.65.91
forward-zone:
  name: "facebook.com"
  forward-addr: 172.20.65.92
forward-zone:
  name: "fbcdn.net"
  forward-addr: 172.20.65.92
forward-zone:
  name: "gibtele.com"
  forward-addr: 172.20.65.70
  forward-addr: 172.20.65.71
forward-zone:
  name: "gibtelecom.net"
  forward-addr: 172.20.65.70
  forward-addr: 172.20.65.71
forward-zone:
  name: "rockolo.gi"
  forward-addr: 172.20.65.70
  forward-addr: 172.20.65.71
forward-zone:
  name: "wgibtelefaqsemailsetupthunde46e5768798rbirdv1734.weebly.com"
  forward-addr: 172.20.65.70
  forward-addr: 172.20.65.71
